
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Kanit:ital@1&family=Noto+Sans&family=Roboto&family=Ubuntu&display=swap');

.conteiner{
    margin: auto;
    width: 55%;   
}

.conteiner1{
    
    width: 100%;   
}

.border{
    border: 1px solid lightgray;
    padding: 2% 2%;
}

.testo{
    font-size: 14px;
    line-height: 18px;
    
}

/* header e nav */

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0; 
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 15px 5px;   
    width: 100%;
    position: relative;   
}

.nav-sx, .nav-dx{
    flex-basis: 45%;      
}

.nav-dx{
    position: absolute;
    right: 5px;
    top: 25%;
}


.nav-sx img{
    width: 12%;       
}

.nav-dx span, .nav-sx span{
    margin: 0 5px;
}


/* button inizio */
.inizia{
    background-color: rgb(17, 112, 245);
    color: white;
    border: none;
    padding: 5px;
}


/* section jumbotron */
.jumbotron{
    background-color: rgb(135, 197, 218);
    
}
.titolo1{
    padding-top: 8%;
    margin: auto;
    width: 60%;
    font-size: 35px; 
}

.jumbotron-bottom{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.box1{
    flex-basis: 38%;
    margin: 15px 0 0 0;
    font-size: 12px;
    
}

.box2{
    flex-basis: 60%;
    margin: 15px 0 0 0;
    position: relative;    
}

.box2 img{
    width: 110%;
    position: absolute;
    top: 0;   
    background-size: contain;
}

.inizia2{
    margin: 20px 0;
}

.box1 svg{
    width: 30px;
    text-align: center;
    margin-top: 50px;
}

/* section trova piano business */
.titolo2{
    text-align: left;
    margin: 60px 0 0 0;
}

input {
    display: inline;
}

.ft{
    display: flex;
    margin-top: 30px;
}
.ft-annuale{
    margin-left:30px ;
}


/* section card abbonamento */
.section-card{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;    
}

.card{
    flex-basis: 31%;
    
}

.svg{
    width: 10px;
}

.tipo-abb{
    text-align: center; 
    padding: 1% 0%;    
}

.abb-prezzo h3{
    margin: 20px 0;
}

.tipi{
    margin: 20px 0;
}

.acquista-ora{
    margin: 20px 0;
}

hr{
    width: 30%;
    margin: 10px 0;
}

.punti{
    margin: 10px 0;
    fill: rgb(17, 112, 245);
}

.contattaci{
    text-align: center;
    width: 85%;
}

/* section2 team e enterprise */
.sez-box, .section3, .sez-img{
    display: flex;
    justify-content: space-between;   
}

.section2{
    padding: 0% 2% 2% 2%;
    border: 1px solid lightgray;
}


.sez-img{
    margin: 10% 0;
}

.box2e{
    flex-basis: 60%;
}

.box2e h3 , .box2e p , .box5 h3, .img-business h3, 
.dropbox{
    margin: 10px 0 ;
}

.box3{
    margin: 20px 0 0 0 ;
}


/* section3 dropbox */
.box4{
    flex-basis: 60%;
    margin: 40px 0;
    
}

.box5{
    flex-basis: 37% ;
    margin: 40px 0;
    
}

.box4 img{
    width: 80%;
}

.box5 span{
    border: solid 1px grey;
    padding: 7px ;
    
}

.box5 p {
    margin: 20px 0;
}


/* section4 drobox business */
.img-business{
    flex-basis: 32%;
}

.img-business img{
    width: 100%;
    
}

/* section 5 */
.section5 h2{
    margin: 50px 0;
    width: 60%;
}


/* section6 designit */
.section6{
    height: calc(100vw/3);
    display: flex;
    margin: 80px 0 0 0 ;
}

.box-6, .box-7, .box-8{
    flex-basis: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box-img{
    flex-basis: 50%;
    height: 50%;
    position: relative;   
}

.box-img img{
    width: 60%;
    position: absolute; 
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.designit img{
    width: 55%;
}

.testo-designit{
    font-size: 12px;
    margin: 30px 0;
}

.designit{
    width: 100%;
    margin: 10% 10%;
}

.box-green{
    background-color: rgb(69, 184, 105);
    border: solid 7px rgb(153, 203, 151);
}

.box-red{
    background-color: rgb(252, 10, 10);
}

.box-blue{
    background-color: rgb(20, 20, 136);
}

.box-yellow{
    background-color: yellow;
}

.box-aquamarine{
    background-color: aquamarine;
}

.box-lightseagreen{
    background-color: lightseagreen;
}

.box-brown{
    background-color: brown;
}

/* section7 prova gratuita*/

.section7{
    background-color:rgb(135, 197, 218) ;
    padding: 100px 0;
}

.dropbox-business{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-9{
    flex-basis: 50%;
}

.box-10{
    flex-basis: 37%;
}

.inizia-white{
    background-color: white;
    color: white;
    border: none;
    padding: 10px 10px;
    color: black;
    margin: 0 10px;
}

/* section8 domande frequenti*/

.section8{
    margin: 30px 0;
}

.questions{
    padding: 40px 0;
}

/* Accordion -  section8*/
.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: solid 1px grey;
  }

  .active, .accordion:hover {
    background-color: #ccc;
}

  .accordion:after {
    content: '\2228';
    font-weight: bold;
    float: right;
    margin-left: 5px;
    color: #777;    
  }
  
  .active:after {
    content: "\2227";    
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* footer */
  footer{
    background-color: black;
    padding: 40px 0;
  }

  .section9{
    display: flex;
    justify-content: space-between;
  }
  
  .cl-footer{
    flex-basis: 19%;   
    color: white;
  }

  .titolo{
    margin: 20px 0;
    font-size: 18px;
  }

  ul{
    list-style: none;
  }

  .lista{
    margin: 10px 0;
    font-size: 14px;
  }
















